.container{
    display: flex;
    gap: 50px;
}

.card{
    background-color: cyan;
    width: 350px;
    height: 400px;
}

.last-card{
    width: 900px;
    border: 2px solid black;
}

.inp{
    margin: 8px 0;
    height: 50px;
}

.poo{
    text-align: center;
    width: 155px;
    height: 50px;
}

.btn{
    height: 50px;
    width: 100px;
}