*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(20, 12, 12);
}

.container{
    border: 1px solid black;
    justify-content: space-evenly;
    padding: 15px;
    min-height: 700px;
    margin-top: 20px;
}

.content{
    width: 70%;
    border: 2px solid rgb(42, 41, 41);
    padding: 15px;
    background-color: darkslategray;
}

.sidebar{
    padding: 15px;
    background-color: darkslategray;
}

.header{
    height: 50px !important;
    background-color: transparent ;
}

.hr{
    border: 2px solid black;
}

.meassage{
    height: 86%;
    border: 1px solid black;
    padding: 20px;
}

.lorem{
    border: 1px solid black;
    width: 450px;
    min-height:70px ;
    border-radius: 20px;
    padding: 5px;
}